In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [4]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)

df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
label_encoder_gender = LabelEncoder()

df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [17]:
# Instantiate the encoder
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')

# Fit and transform the 'Geography' column
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()

# Display the resulting DataFrame
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [31]:
geo_feature_names = onehot_encoder_geo.get_feature_names_out(['Geography'])

# Convert to a DataFrame with meaningful column names
geo_encoded_df = pd.DataFrame(geo_encoded, columns=geo_feature_names)

# Display the resulting DataFrame
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [35]:
df= pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

df.head()

KeyError: "['Geography'] not found in axis"

In [37]:
x = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [41]:
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)

In [43]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [45]:
#ANN Implementation
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [47]:
model = Sequential([
    Dense (64, activation='relu', input_shape=(x_train.shape[1],)), #HL1, connected with input layer
    Dense (32, activation='relu'), #HL2
    Dense (1, activation='linear') #output layer

])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

model.summary()

C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [49]:
import datetime

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [51]:
#Setting up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10, restore_best_weights=True)

In [53]:
#Model Training
history = model.fit(
    x_train, y_train, validation_data=(x_test, y_test), epochs=100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 7885734912.0000 - mae: 72354.1172 - val_loss: 6502290944.0000 - val_mae: 66012.9688
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 6267978240.0000 - mae: 64716.7617 - val_loss: 4734016512.0000 - val_mae: 57175.7266
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 4381742592.0000 - mae: 55365.9180 - val_loss: 3523987712.0000 - val_mae: 50706.4102
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 3631550464.0000 - mae: 51481.8555 - val_loss: 3460441088.0000 - val_mae: 50333.6953
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3554147072.0000 - mae: 50906.0664 - val_loss: 3677290496.0000 - val_mae: 51237.2188
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3563144960.0000 - mae: 50684.0977 - val_loss: 3463303936.0000 - val_mae: 50380.9883
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3526592000.0000 - mae: 50798.3086 - val_loss: 3462599168.0000 - val_mae: 50357.4609
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3498752256.0000 - mae: 50409.0586 - val_loss: 3482153216.0000 - val_mae: 50491.1914
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3513978624.0000 - mae: 50563.4102 - val_loss: 3461290752.0000 - val_mae: 50366.7656
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3490909184.0000 - mae: 50408.8750 - val_loss: 3595773696.0000 - val_mae: 51095.8633
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 3489080576.0000 - mae: 50454.5938 - val_loss: 3447829760.0000 - val_mae: 50328.5312
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 3500232704.0000 - mae: 50706.4727 - val_loss: 3452804864.0000 - val_mae: 50362.5000
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3550907904.0000 - mae: 51121.1328 - val_loss: 3505414400.0000 - val_mae: 50638.4453
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3526182144.0000 - mae: 50736.0781 - val_loss: 3444688640.0000 - val_mae: 50317.6602
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3525072640.0000 - mae: 50959.5117 - val_loss: 3582950912.0000 - val_mae: 50898.2266
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3527023616.0000 - mae: 50785.7227 - val_loss: 3456619776.0000 - val_mae: 50380.9570
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3516598784.0000 - mae: 50774.8750 - val_loss: 3452178432.0000 - val_mae: 50320.6016
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3555100672.0000 - mae: 50952.2344 - val_loss: 3457102848.0000 - val_mae: 50386.6211
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3473773056.0000 - mae: 50402.2461 - val_loss: 3527451904.0000 - val_mae: 50619.1719
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3448335360.0000 - mae: 50415.1211 - val_loss: 3496714240.0000 - val_mae: 50597.3594
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3544373504.0000 - mae: 51177.4258 - val_loss: 3455515904.0000 - val_mae: 50396.6250
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3490328064.0000 - mae: 50674.6133 - val_loss: 3444987904.0000 - val_mae: 50356.6836
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3521462784.0000 - mae: 50938.2461 - val_loss: 3572616960.0000 - val_mae: 50845.0000
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3488810752.0000 - mae: 50480.6250 - val_loss: 3454658048.0000 - val_mae: 50392.9062

In [55]:
model.save('model.keras')

In [61]:
%load_ext tensorboard
%tensorboard --logdir logs/fit
!kill 12340

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 12340), started 18:22:21 ago. (Use '!kill 12340' to kill it.)

kill: 12340: No such process

In [59]:
!kill 12340

kill: 12340: No such process